.form-redirect {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 2.5rem;
  font-size: 0.8rem;
}

.form-change-text {
  padding: 1rem 0;
  margin-top: 14px;
}

.form-btn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  height: 53px;
  width: 118px;
  color: white;
  background-color: blue;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  float: right;
  transition: all 0.3s;
}

h1 {
  font-size: 3rem;
  font-weight: 50;
  text-align: center;
  margin: 1rem 0 3rem;
  font-family: 'Space Mono', monospace;
}

.Inputdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  height: 50px;
  border-radius: 25px;
  width: 350px;
  margin: 0.25rem;
  transition: 0.5s;
  font-size: 1.15rem;
}

.add {
  outline: none;
  border: none;
  height: 50px;
  border-radius: 25px;
  width: 50px;
  background-color: lime;
  cursor: pointer;
  transition: 0.5s;
  margin: 0.25rem;
}

.add:hover {
  opacity: 0.7;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-bottom: 4px solid #fff;
  margin-bottom: 1.5rem;
}

.item_input {
  background: none;
  outline: none;
  border: none;
  padding: 5px;
  font-size: 1.4rem;
  width: 245px;
}

.edit {
  background: none;
  outline: none;
  border: none;
  color: blue;
  font-size: 1.4rem;
  font-family: 'Space Mono', monospace;
  margin: 0 2rem;
  cursor: pointer;
}

.editing {
  border-radius: 7px;

  background: #dddf53;
}

.remove {
  background: none;
  outline: none;
  border: none;
  color: #e00;
  font-size: 1.4rem;
  font-family: 'Space Mono', monospace;
  cursor: pointer;
}

.form-group input {
  text-align: center;
  display: block;
  width: 508px;
  height: 50px;
  padding: 1px;
  /* border: 2px solid black; */
  margin: 11px auto;
  font-size: 25px;
  /* border-radius: 8px; */
  border-radius: 15px;
  background: linear-gradient(145deg, #9b5eeb, #fa9e9e);
  box-shadow: 33px 33px 66px #b4a5d9, -33px -33px 66px #f4dfff;
}

.form .btn {
  height: 53px;
  width: 118px;
  background-color: rgb(18, 170, 82);
}

.form .btn:hover {
  background-color: rgb(24, 100, 1);
  color: white;
}

.btn {
  height: 53px;
  width: 118px;
  color: white;
  position: relative;
  margin-right: 17px;
  cursor: pointer;
  border: none;
  background-color: rgb(18, 170, 82);
  /* background-color: blue; */
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: all 0.3s;
}
.btn-2 {
  height: 53px;
  width: 118px;
  color: white;
  position: relative;
  margin-left: 45%;
  cursor: pointer;
  border: none;
  background-color: rgb(18, 170, 82);
  /* background-color: blue; */
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: all 0.3s;
}

.fa .fas {
  font-size: 1.9rem;
}

.dashboardPageDiv {
  background-color: #cdc1ff;
  background-image: linear-gradient(316deg, #cdc1ff 0%, #e5d9f2 74%);
}
