.container {
  height: 600px;
  width: 350px;
  box-shadow: 0px 15px 30px rgb(22, 22, 22);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 20px;
  background: linear-gradient(to right top, purple, rgb(187, 7, 142));
}

.circleTop {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 0px 15px 25px rgb(104, 102, 102),
    0px 5px 15px rgb(114, 113, 113);
  margin-top: -120px;
  margin-left: -50px;
}

.circleBottom {
  height: 300px;
  width: 500px;
  border-radius: 50%;
  background-color: white;
  margin-top: 200px;
  margin-left: 200px;
  box-shadow: inset 0px 5px 15px rgb(90, 89, 89), 0px 5px 15px rgb(77, 75, 75);
}

.content {
  height: 400px;
  width: 250px;
  float: right;
  margin-top: -70px;
  margin-right: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: linear-gradient(
    to right top,
    rgb(236, 23, 190),
    rgb(4, 238, 187)
  );
  box-shadow: 0px 5px 15px rgb(22, 21, 21);
  color: white;
  font-family: 'Raleway', sans-serif;
}

.content h1 {
  margin-left: 10px;
  padding: 20px;
  color: white;
  padding-bottom: 40px;
  font-weight: lighter;
  margin-top: 25px;
}

.form {
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  padding: 8px;
  margin-bottom: 10px;
  background-color: rgba(221, 235, 240, 0.4);
  color: rgb(145, 32, 145);
}

.form:focus {
  outline: none;
  /* border: 1px solid rgb(0, 225, 255); */
}

.form-group {
  margin-left: 30px;
}

button {
  margin-left: 50px;
  margin-top: 50px;
  padding: 10px 60px;
  border: none;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px 10px grey;
}

/* 
---------------------------------------------------------------- */
.blob {
  width: 1000px;
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width='100%25' height='100%25' viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' %3E %3Cdefs%3E %3CclipPath id='shape'%3E %3Cpath fill='currentColor' d='M750,574Q703,648,677.5,808Q652,968,537,854Q422,740,320.5,722Q219,704,220,602Q221,500,184.5,372Q148,244,271.5,211Q395,178,485.5,222.5Q576,267,712.5,257Q849,247,823,373.5Q797,500,750,574Z'%3E%3C/path%3E %3C/clipPath%3E %3C/defs%3E %3Cg clip-path='url(%23shape)'%3E %3Cpath fill='%23c8caff' d='M750,574Q703,648,677.5,808Q652,968,537,854Q422,740,320.5,722Q219,704,220,602Q221,500,184.5,372Q148,244,271.5,211Q395,178,485.5,222.5Q576,267,712.5,257Q849,247,823,373.5Q797,500,750,574Z' /%3E %3C/g%3E %3C/svg%3E");
}
