.notificationDiv {
  background-color: #323fbe;
  color: #fff;
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  text-align: center;
}

.loginPageBackground {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding: 10vh;
  background-color: #cdc1ff;
  background-image: linear-gradient(316deg, #cdc1ff 0%, #e5d9f2 74%);
}

.loginPageDiv {
  width: 80vw;
  height: auto;
  min-height: 92vh;
  margin: 0 auto;
  position: relative;
  border-radius: 25px;
  background: linear-gradient(145deg, #b9aee6, #dbcfff);
  box-shadow: 33px 33px 66px #aea4d9, -33px -33px 66px #ecdeff;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width='100%25' height='100%25' viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg' %3E %3Cdefs%3E %3CclipPath id='shape'%3E %3Cpath fill='currentColor' d='M831.5,591Q751,682,661.5,701.5Q572,721,484,771.5Q396,822,342.5,737.5Q289,653,225.5,576.5Q162,500,213,414Q264,328,311,195Q358,62,500,62Q642,62,721,172Q800,282,856,391Q912,500,831.5,591Z'%3E%3C/path%3E %3C/clipPath%3E %3C/defs%3E %3Cg clip-path='url(%23shape)'%3E %3Cpath fill='%23b4b8ff' d='M831.5,591Q751,682,661.5,701.5Q572,721,484,771.5Q396,822,342.5,737.5Q289,653,225.5,576.5Q162,500,213,414Q264,328,311,195Q358,62,500,62Q642,62,721,172Q800,282,856,391Q912,500,831.5,591Z' /%3E %3C/g%3E %3C/svg%3E");
}

.bannerArea {
  width: 50%;
  height: auto;
  min-height: 80vh;
  background-color: #f0efe9;
  border-radius: 1rem 0 0 1rem;
}

.telepost {
  width: 5rem;
  margin: 2rem 0 0 2.5rem;
}

.loginBannerDiv {
  padding: 15% 0;
  text-align: center;
}

.loginBanner {
  width: 70%;
}

.formArea {
  width: 50%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currentUserDiv {
  display: flex;
  align-items: flex-end;
}

.sign-out-btn {
  margin: 1.8rem 2rem 0 0;
  padding: 1rem 1.5rem !important;
}

.createPostDiv {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  align-items: center;
}

.createPostInput {
  width: 40%;
  padding: 1rem 1rem;
  border: 3.5px solid #c4c4c4;
  border-radius: 10px 0 0 10px;
}

.createPostInput:focus {
  outline: none;
}

.createPostButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  outline: none;
  border: none;
  height: 50px;
  border-radius: 25px;
  width: 50px;
  background-color: lime;
  cursor: pointer;
  transition: 0.5s;
  margin: 0.25rem;
}

.createPostButton:hover {
  background-color: #01937c;
}

.emptyText {
  font-size: 1.8rem;
  text-align: center;
}

.timeline-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa,
.fas {
  font-size: 1.9rem;
}

@media only screen and (max-width: 600px) {
  .loginPageBackground {
    padding: 3vh 0;
    min-height: 94vh;
    height: auto;
  }
  .loginPageDiv {
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: auto;
  }
  .bannerArea {
    background-color: transparent;
    min-height: 0;
  }
  .loginBannerDiv {
    display: none;
  }
  .formArea {
    width: 100%;
  }
  .telepost {
    width: 3rem;
    transform: translateY(-0.2rem);
    margin: 1.5rem 0 0 1rem;
  }
  .sign-out-btn {
    margin: 0.8rem 1rem 0 0;
    font-size: 0.7rem;
    padding: 0.8rem 1rem !important;
  }
  .author-div {
    transform: translateY(-0.4rem);
  }
  .createPostInput {
    width: 70%;
  }
  .emptyText {
    padding: 0 1rem;
    font-size: 1.5rem;
  }
  .notificationDiv {
    background-color: #323fbe;
    color: #fff;
    width: 100%;
    height: 10vh;
    font-size: 1.2rem;

    border-radius: 5px;
    text-align: center;
  }
}
